<h1>Hello RoR! 🚀</h1>

<form action="/answer" method="get" id="user-input">
<label for="user-input">Ask coach a question<label>
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="submit">
</form>
